/* Roobert */

@font-face {
  src: url('../../assets/fonts/roobert-regular.woff2') format('woff2');
  font-family: 'Roobert';
  font-weight: normal;
}
@font-face {
  src: url('../../assets/fonts/roobert-semibold.woff2') format('woff2');
  font-family: 'Roobert';
  font-weight: 700;
}
@font-face {
  src: url('../../assets/fonts/roobert-bold.woff2') format('woff2');
  font-family: 'Roobert';
  font-weight: 900;
}